/* font-family: 'Montserrat', sans-serif; */

body {}

.navbar-nav .nav-link {
    color: #1f4f87;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #f2622c;
}

.banner {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.banner h1 {

    color: #fff;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
}

.height {
    min-height: 90vh
}

.icon {

    position: absolute;
    left: 50%;
    bottom: 50px;
    color: #fff;
    font-size: 20px;
    transform: translateX(-50px);
    animation: ani 1s linear infinite;
    animation-direction: alternate;
}

@keyframes ani {
    0% {
        bottom: 50px;
    }

    100% {
        bottom: 40px;
    }
}

.we_are {}

.we_are h1 {

    color: #204f87;
    margin: 10px;
    font-weight: 600;
}

.we_are p {

    color: #b0b0b1;
    margin: 10px 0;
}

.we_are span {

    display: block;
    height: 3px;
    background: #f2622c;
    width: 0px;
    margin-top: 50px;
    transition: .4s all ease-in-out;
}

.we_are:hover span {
    width: 50px;
}

.what_we_do {
    background-color: #f7f8f8;
    padding: 50px 0;
    background-image: url(../images/client_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 70%;
}

.heading span {

    display: block;
    height: 3px;
    background: #f2622c;
    width: 0px;
    margin-top: 50px;
    transition: .4s all ease-in-out;
    margin: auto;
}
.heading:hover span {
    width: 50px;
}
.heading h1 {

    color: #204f87;
    margin: 10px;
    font-weight: 600;
}

.heading {}

.what_we_do_items {

    position: relative;
}

.what_we_do_items img {

    width: 100%;
}

.content {

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    opacity: 0;
    transition: .4s all ease-in-out;
}

.what_we_do_items:hover .content {
    opacity: 1;
    top: 50%;
}

.content h2 {

    font-size: 25px;

}

.arrow {

    position: absolute;
    left: 45%;
    bottom: 50px;
    color: #fff;
    font-size: 20px;
    transform: translateX(-50%);
    opacity: 0;
    transition: .4s all ease-in-out;
}

.what_we_do_items:hover .arrow {
    opacity: 1;
    left: 50%;
}

.what_we_do_items::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    transition: .4s all ease-in-out;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,28377e+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(40, 55, 126, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(40, 55, 126, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(40, 55, 126, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#28377e', GradientType=0);
    /* IE6-9 */

}

.what_we_do_items:hover::before {
    height: 100%;
}

.ATTORNEYS {
    background-image: url(../images/cc_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pad: 100px 0;
    position: relative;
    z-index: 0;
}

.ATTORNEYS::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #204e875b;
    z-index: -1;
}

.Heading_two {}

.Heading_two h1 {

    color: #fff;
}

.Heading_two span {

    display: block;
    height: 3px;
    background: #f2622c;
    width: 0px;
    margin-top: 50px;
    transition: .4s all ease-in-out;
    margin: auto;
}
.Heading_two:hover span {
    width: 50px;
}

.Heading_two p {

    color: #fff;
}

.Heading_two a {

    color: #f2692e;
    text-decoration: none;
    font-weight: 600;
    margin: 10px 0;
}

.ATTORNEYS_itmes {

    position: relative;
}

.ATTORNEYS_itmes img {}

.ATTORNEYS_content {

    position: absolute;
    left: 50px;
    bottom: 45px;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    transition: .4s all ease-in-out;

}

.ATTORNEYS_itmes::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    transition: .4s all ease-in-out;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,28377e+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(40, 55, 126, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(40, 55, 126, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(40, 55, 126, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#28377e', GradientType=0);
    /* IE6-9 */
}

.ATTORNEYS_itmes:hover::before {
    height: 100%;
}

.ATTORNEYS_content h2 {
    color: #fff;
    font-size: 22px;

}

.ATTORNEYS_itmes:hover .ATTORNEYS_content {
    opacity: 1;
    bottom: 50px;
}

.the_language {
    background-color: #fff;
    padding-bottom: 75px;
}

.the_language h1 {
    font-size: 30px;
    color: #36226f;
}

.the_language p {

    color: #bab5b3;

    padding: 8px 0;
}

.the_language a {
    color: #e76128;
    text-decoration: none;
}

.the_language span {

    display: block;
    height: 3px;
    background: #f2622c;
    width: 0px;
    margin-top: 50px;
    transition: .4s all ease-in-out;
    margin: auto;
}
.the_language:hover span{
    width: 50px;
}

.contact span {

    display: block;
    height: 3px;
    background: #f2622c;
    width: 0px;
    margin-top: 50px;
    transition: .4s all ease-in-out;
    margin: auto;
}
.contact:hover span{
    width: 50px;
}
.contact{
    background-color: #28377e;
    padding: 50px 0;
}
.contact .heading h1{
    color: #fff;
    text-align: center;
}
.form{

}
.form input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #f2622c;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
}
.form textarea{
    background: transparent;
    border: none;
    border-bottom: 1px solid #f2622c;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
}
.form input[type="submit"]{
    background-color: #f2622c;
    color: #fff;
    border: none;
    padding: 5px 40px;
   
}
.contact input:focus, .contact textarea:focus{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid ;
}
.contact input::placeholder{
    color: #f2622c;
}
.contact textarea::placeholder{
    color: #f2622c;
}

footer {
    background: #0c1234;
    padding: 30px 0;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_item {
}
.footer_item p {
    color: #6c64a0;
}

.footer_icon {}

.footer_icon ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer_icon ul li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
}

.footer_icon ul li a {
    color: #c1bddc;
}

